@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-top: 80px;
  background-color: gray;
}
